<html>
<head>
<title>fragment_receive_funds.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
fragment_receive_funds.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">FrameLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.custom_view.ReceiveFundsFragment&quot;</span>&gt;
&lt;<span class="s4">LinearLayout</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
    <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>&gt;
    &lt;<span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/ethImgAddress&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/hello_blank_fragment&quot; </span>/&gt;

    &lt;<span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/btcImgAddress&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;200dp&quot;</span><span class="s1">rtgfy</span>
        <span class="s1">android:layout_margin</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/hello_blank_fragment&quot; </span>/&gt;
&lt;/<span class="s4">LinearLayout</span>&gt;


&lt;/<span class="s4">FrameLayout</span>&gt;</pre>
</body>
</html>